<?xml version="1.0" ?>
<model>
    <name>LVT2 Calibration target</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Tuan Luong</name>
        <email>tdluong@crimson.ua.edu</email>
    </author>
    <description>Calibration target used by LVT2 method for extrinsic calibration
    </description>
</model>